html {
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.headerContainer {
    height: 100px;
    border-bottom: solid 0px rgb(102 96 96);
    box-shadow: 0px 0px 20px rgb(42 40 40 / 30%);
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0;
}

.headerLinksMainContainer {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 30px;
}

.headerLogoContainer {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logoKochwelt {
    height: 50px;
}

.headerLinksContainer {
    display: flex;
    gap: 28px;
}

.headerLinksContainer a {
    font-size: 14px;
    color: rgb(64, 59, 59);
    cursor: pointer;
    text-decoration: none;
}

.headerLinksContainer a:hover {
    border-bottom: solid 2px;
    border-color: #008001;
}

.headerLinksContainer a:hover {
    color: green;
}

#menuToggleButton {
    font-weight: 900;
    padding: 0 10px;
    margin: 0;
}

.sideMenuShow {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 0px;
    width: 138px;
    border-radius: 10px;
    line-height: 20px;
    height: auto;
    padding: 10px 0;
    background-color: green;
    transition: all 0.5s;
}

.sideMenuHide {
    transform: translateX(100%);
    transition: all 0.5s;
}

.sideMenuShow a {
    text-decoration: none;
    color: white;
}

.sideMenuShow ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideMenuShow li a:hover {
    border-bottom: solid 2px;
    border-color: #008001;
}

#buttons {
    border: none;
    background-color: #008001;
    color: white;
    font-size: 12px;
    padding: 5px 30px;
    cursor: pointer;
}

button:hover {
    background-color: #44b444;
}

.fullscreen-Container {
    place-items: center;
    width: 100vw;
    min-height: 100vh;
}

.main-C {
    max-width: 1415px;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 26px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    padding-block: 10px;
}

h2 {
    font-size: 20px;
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
}

h3 {
    font-size: 18px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-block: 6px;
}

p {
    padding-block: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

#generator_results {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}


#generator_results_content {
    text-align: center;
    max-width: 38%;
    min-width: 38%;
    max-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    margin: 100px 30px;
}

footer {

    background-color: rgb(64, 59, 59);
    height: 168px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0;


}

.logo-text {
    height: 80px;

}

.logo {
    display: none;
}

.footer_1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-inline: 30px;
    padding-block: 22px;
    box-sizing: border-box;
}

.socialmedia-logo {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.socialmedia-img {
    width: 120px;
    height: 120px;
}





/*Tablet*/

@media(max-width:1232px) {
    #generator_results_content {
        text-align: center;
        max-width: 72%;
        min-width: 38%;
        max-height: 100%;
        padding: 20px;
        box-sizing: border-box;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        margin: 100px 30px;
    }
}

@media(max-width:782px) {

    #input {
        display: none;
    }

    #buttonPortion2 {
        display: none;
    }


    .headerLinksContainer a {
        display: none;
    }

}

@media (min-width: 784px) {
    #sideMenu {
        display: none;
    }

    #menuToggleButton {
        display: none;
    }

    #portionSelect {
        display: none;
    }

    #buttonPortion {
        display: none;
    }

}

@media(max-width:882px) {


    body {
        font-size: 14px;
    }

    #logoKochwelt {
        height: 48px;
    }

    .headerLinksContainer a {
        font-size: 14px;
    }

    h1 {
        font-size: 18px;
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        padding-block: 5px;
    }

    h2 {
        font-size: 14px;
    }

    h3 {
        font-size: 12px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-block: 3px;
    }

    p {
        padding-block: 5px;
    }
}

@media(max-width:785px) {


    .logo-text {
        height: 48px;
    }

    .socialmedia-img {
        width: 80px;
        height: 80px;
    }

    .logo-text {
        height: 60px;

    }

}


/*Mobil*/
@media(max-width: 662px) {
    body {
        font-size: 14px;
    }

    .sideMenuShow {
        width: 138px;
    }

    .headerLinksContainer a {
        font-size: 14px;
    }

    .main-C {
        max-width: 640px;
        width: 100%;
        margin: 0;
    }

    h1 {
        font-size: 22px;
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        padding-block: 5px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-block: 3px;
    }

    #generator_results_content {
        text-align: center;
        max-width: 100%;
    }

    p {
        padding-block: 3px;
    }

    .footer_1 {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .logo-text {
        height: 42px;
    }

    .socialmedia-img {
        width: 60px;
        height: 60px;
    }


}

@media(max-width:450px) {

    body {
        font-size: 14px;
    }

    .sideMenuShow {
        width: 138px;
    }

    .headerLinksContainer a {
        font-size: 14px;
    }

    .main-C {
        max-width: 540px;
        width: 100%;
        margin: 0;
    }

    h1 {
        font-size: 20px;
        margin-block-start: 0.0em;
        margin-block-end: 0.0em;
        padding-block: 5px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding-block: 3px;
    }

    #generator_results_content {
        text-align: center;
        max-width: 100%;
    }

    p {
        padding-block: 3px;
    }

    #logoKochwelt {
        height: 36px;
    }
}